<% provide(:title, "Membership") %>
<section id="pricing" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" data-aos="fade-right">
                <h2 class="card-title price"><span><span class="currency">$</span>6</span></h2>
                <div class="card">
                  <div class="card-block">
                    <h2 class="card-title text-center">Per Month</h2>
                    <p class="card-text text-center">Try it out for 14 days free!</p>
                  </div>
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item text-center">Zapier Account Creation</li>
                      <li class="list-group-item">Generate Zapier API</li>
                      <li class="list-group-item">Edit PDFs in Zapier</li>
                      <li class="list-group-item">Monthly Analytics</li>
                  </ul>
                  <div class="card-block card-btn">
                      <%= link_to 'Start your trial today!', signup_path, class: 'btn font-weight-bold' %>
                  </div>
                </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" data-aos="fade-left">
          <h2 class="card-title price"><span>2</span></h2>
          <div class="card">
            <div class="card-block">
              <h2 class="card-title text-center">MONTHS FREE</h2>
              <p class="card-text text-center">Get 2 months free!</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Zapier Account Creation</li>
                <li class="list-group-item">Generate Zapier API</li>
                <li class="list-group-item">Edit PDFs in Zapier</li>
                <li class="list-group-item">Monthly Analytics</li>
            </ul>
            <div class="card-block">
                <%= link_to 'Get Started', signup_path, class: 'btn font-weight-bold' %>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>