<% provide(:title, "Membership") %>
<section id="pricing" class="text-center" style="padding-top: 0px;">
  <div class="container">
    <h1 class="section-title aos-init aos-animate" data-aos="fade-down">Very Affordable Pricing</h1>
    <div class="row pricing-main-container">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-aos="fade-right">
        <div class="card">
          <div class="card-block red-pattern header-block">
            <div class="row price-row">
              <div class="col-md-4 col-xs-4 price-container">
                <h2 class="card-title price" data-aos="zoom-in" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-delay="100">
                  <span><span class="currency">$</span>6</span>
                </h2>
              </div>
              <div class="col-md-8 col-xs-8">
                <h2 class="card-title text-left">Per Month</h2>
                <p class="card-text text-left">Try it out for 14 days free!</p>
              </div>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">Monthly Subscription</li>
            <li class="list-group-item">Generate Zapier API Key</li>
            <li class="list-group-item">Edit PDFs in Zapier</li>
            <li class="list-group-item">Convert Emails to PDFs in Zapier</li>
          </ul>
          <div class="card-block card-btn red-pattern">
           <%= link_to 'Start Your Trial Today!', signup_path, class: 'btn font-weight-bold' %>
         </div>
       </div>
     </div>
     <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-aos="fade-left">
      <div class="card">
        <div class="card-block red-pattern header-block">
          <div class="row price-row">
            <div class="col-md-4 col-xs-4 price-container">
              <h2 class="card-title price" data-aos="zoom-in" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-delay="200">
                <span class="pricing-free">2</span>
              </h2>
            </div>
            <div class="col-md-8 col-xs-8">
              <h2 class="card-title text-left">MONTHS FREE</h2>
              <p class="card-text text-left">Pay only $60 when paying annually.<br>
                That's 2 free months!
              </p>
            </div>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Annual Subscription</li>
          <li class="list-group-item">Generate Zapier API Key</li>
          <li class="list-group-item">Edit PDFs in Zapier</li>
          <li class="list-group-item">Convert Emails to PDFs in Zapier</li>
        </ul>
        <div class="card-block red-pattern">
          <%= link_to 'Get Started', signup_path, class: 'btn font-weight-bold' %>
        </div>
      </div>
    </div>
  </div>
</div>
</section>