<section id="privacy">
	<div class="container">
		<h1 class="section-title-shadow">Legal Privacy Policy</h1>
		<p>This website www.pdfzap.me (the “Site”), is owned and operated by Afraxis, Inc. and/or one or more of its affiliates (collectively “PDF ZapMe”, “we”, “us” and/or “our”). This Site is operated by PDF ZapMe and has been created to provide information about our company and its content and data linking platform and related services (together with the Site, the “Service(s)”) to our Service visitors (“you”, “your”). This Privacy Policy sets forth PDF ZapMe’s policy with respect to information including personally identifiable data (“Personal Data”) and other information that is collected from visitors to the Site and Services.</p>
		<hr>
		<p></p>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-4">
					<ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left" role="navigation">
						<li class="nav-item">
							<a href="#third-party" class="nav-link" data-toggle="tab" role="tab" aria-controls="third-party"><h4>Third-Party Service Integration</h4></a>
						</li>

						<li class="nav-item">
							<a href="#profile" class="nav-link" data-toggle="tab" role="tab" aria-controls="profile"><h4>Third-Party Payment Processor</h4></a>
						</li>
						<li class="nav-item">
							<a href="#account-membership" class="nav-link" data-toggle="tab" role="tab" aria-controls="account-membership"><h4>Information We Collect</h4></a>
						</li>
						<li class="nav-item">
							<a href="#past" class="nav-link" data-toggle="tab" role="tab" aria-controls="past"><h4>Our Use of Your Personal Data and Other Information</h4></a>
						</li>
						<li class="nav-item">
							<a href="#payment" class="nav-link" data-toggle="tab" role="tab" aria-controls="payment"><h4>Our Disclosure of Your Personal Data and Other Information</h4></a>
						</li>
						<li class="nav-item">
							<a href="#payment" class="nav-link" data-toggle="tab" role="tab" aria-controls="payment"><h4>Exclusions</h4></a>
						</li>
						<li class="nav-item">
							<a href="#payment" class="nav-link" data-toggle="tab" role="tab" aria-controls="payment"><h4>Children</h4></a>
						</li>
						<li class="nav-item">
							<a href="#payment" class="nav-link" data-toggle="tab" role="tab" aria-controls="payment"><h4>Links to Other Websites</h4></a>
						</li>
						<li class="nav-item">
							<a href="#payment" class="nav-link" data-toggle="tab" role="tab" aria-controls="payment"><h4>Security</h4></a>
						</li>
						<li class="nav-item">
							<a href="#payment" class="nav-link" data-toggle="tab" role="tab" aria-controls="payment"><h4>Changes to PDF ZapMe’s Privacy Policy</h4></a>
						</li>
						<li class="nav-item">
							<a href="#payment" class="nav-link" data-toggle="tab" role="tab" aria-controls="payment"><h4>Contacting PDF ZapMe</h4></a>
						</li>
						<li class="nav-item">
							<a href="#payment" class="nav-link" data-toggle="tab" role="tab" aria-controls="payment"><h4>Other Terms<h4></a>
						</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-9 col-lg-8">
					<div class="tab-content">
						<div class="tab-pane fadein show active " id="third-party" role="tabpanel">
							<div class="row">
								<h2 class="section-title">Third-Party Service Integration</h2>
								<div class="col-lg-6 col-md-6 col-xs-6">
									<h4>Plain English Terms</h4>
									<p>We last updated this policy January 19, 2018.</p>
									<p>To use PDF ZapMe, we need to store credentials for third-party services (Gmail, Basecamp, etc). We store credentials encrypted in our database. They are only used to access data you tell us to. We log certain non-identifiable information to provide support and fix problems.</p>
								</div>
								<div class="col-lg-6 col-md-6 col-xs-6">
									<h4>Legal Terms</h4>
									<p>Date of Last Revision: January 19, 2018</p>
									<p>Our Service allows you to integrate and create commands for various online third-party services (“Third-Party Services”). In order to take advantage of this feature, you may need to authenticate, register for or log into Third-Party Services through the Service or on the websites of their respective providers. When you enable linking between or log in to Third-Party Services through the Service, we will collect relevant information necessary to enable the Service to access that Third-Party Service and your data and content contained within that Third-Party Service (“Login Credentials”). We store your Login Credentials long enough to enable linking to the Third-Party Service.</p>
									<p>When you enable the Service to link content and data between Third-Party Services, the Third-Party Services will provide us with access to certain information that you may have provided to the Third-Party Services, and we will use, store and disclose such information in accordance with this Privacy Policy and the rules you set to govern the linking. However, please remember that the manner in which Third-Party Services use, store and disclose your information is governed by the policies of such Third-Party Services, and PDF ZapMe shall have no liability or responsibility for the privacy practices or other actions of any Third-Party Services that may be enabled within the Service.</p>
									<p>We may retain certain personally non-identifiable information related to the data or content linked between Third-Party Services (for example, date sent, link configuration, names of the Third-Party Services), for the purpose of improving our Services and as described below in the “Non-Identifiable Data” section.</p>
								</div>
							<hr>
							</div>
							<h1>Third-Party Service Integration</h1>
							
						</div>

						<div class="tab-pane fade" id="profile" role="tabpanel">
							
							
						</div>
						<div class="tab-pane fade" id="account-membership" role="tabpanel">
							
						</div>
						<div class="tab-pane fade" id="past" role="tabpanel">
							
						</div>
						<div class="tab-pane fade" id="payment" role="tabpanel">
						</div>
					</div>
				</div>
			</div>
	</div>
</section>