<% provide(:title, "SignUp") %>
<section id="user-login">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">

				<span>This is Exciting</span>
                 <%= image_tag 'emotion.png', class: '', alt: '' %>
				<p>You're just seconds away from your free trial access to all our features, automations and more.</p>
				<form action="/register">
				  <div class="form-group">
				    <label for="useremail">EMAIL ADDRESS</label>
				    <input type="email" class="form-control" id="useremail" placeholder="hello@example" required>
				  </div>
				  <div class="form-group">
					  <div class="row">
					  	<div class="col-sm-6 col-xs-12">
					    <label for="first_name">First name</label>
					    <input type="text" class="form-control" id="first_name" placeholder="" required></div>
					  	<div class="col-sm-6 col-xs-12">
					    <label for="second_name">Last name</label>
					    <input type="text" class="form-control" id="second_name" placeholder="" required ></div>
					  </div>
				  </div>
				  <div class="form-group">
				    <label for="userpassword">choose your password</label>
				    <input type="password" class="form-control" id="userpassword" placeholder="at least 8 characters please" required minlength="8">
				  </div>
				  <div class="form-group">
				    <label for="userpasswordconfirm">retype your password</label>
				    <input type="password" class="form-control" id="userpasswordconfirm" placeholder="one more time for good measure" required minlength="8">
				  </div>
         		 <%= button_to 'Start Your Trial ', register_path, class: 'btn black-btn' %>
				</form>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 hidden-md-down" >
				<div class="login-image plus-pattern  hide-mobile hide-tablet w-col w-col-5 w-col-stack">
					<div data-aos="zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="600">
					<%= image_tag 'pdfz_pdfred.png', class: 'overlay z10', alt: '' %></div>
					<div class="overlay zbottom login-grid-position" data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="600">
						<%= image_tag 'square-grid.png', class: '', alt: '' %>
					</div>
					<div class="plus-pattern clearboard"></div>
				</div>
			</div>
		</div>
		</div>
	</div>
</section>
<style type="text/css">
	.navbar-nav {
		display: none;
	}
</style>