<div class="container">
	<div class="confirm-bill text-center">
        <%= image_tag 'confirm-icon.png', class: '', alt: '' %>
		<h1>One more step....</h1>
		<p>Do you authorize us to charge $ 60.00 to your Visa card ending in xxxx?</p>
		<button class="btn">Yes I Do!</button>
	</div>
</div>