<section id="user-login">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">

				<span>Good to see you</span>
                 <%= image_tag 'emotion.png', class: '', alt: '' %>
				<p>You know...I've been doing my PDF think.It's been smooth automatin'</p>
				<form>
				  <div class="form-group">
				    <label for="useremail">EMAIL ADDRESS</label>
				    <input type="email" class="form-control" id="useremail" placeholder="hello@example">
				  </div>
				  <div class="form-group">
				    <label for="userpassword">PASSWORD</label>
				    <input type="password" class="form-control" id="userpassword" placeholder="">
				  </div>
				</form>
         		 <%= link_to 'Login', account_path, class: 'btn' %>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" id="login-back"></div>
		</div>
		</div>
	</div>
</section>
